.title {
  font-size: 32px;
  margin-bottom: 60px;
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 1rem;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .listContainer {
    justify-content: center;
  }

  .title {
    display: flex;
    justify-content: center;
  }
}

.container {
  display: flex;
  max-width: 1400px;
  height: 100vh;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
}
