.container {
  display: flex;
  max-width: 1400px;
  height: 100vh;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.heroImageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 150px;
  min-width: 300px;
  min-height: 300px;
}

.name {
  font-size: 24px;
  margin: 30px;
}

@media only screen and (max-width: 600px) {
  .heroImageContainer {
    border-radius: 75px;
    min-width: 150px;
    min-height: 150px;
  }

  .name {
    font-size: 20px;
    margin: 18px;
  }
}
